@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.myform{
  position: relative;
		display: -ms-flexbox;
		display: flex;
		padding: 1rem;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.2);
		border-radius: 1.1rem;
		outline: 0;
		max-width: 500px;
   }

   .tx-tfm{
    text-transform:uppercase;
    }
    .mybtn{
    border-radius:50px;
    }


	/*search box css start here*/
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}

  .s01 {
	min-height: 100vh;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
		justify-content: center;
	-ms-flex-align: center;
		align-items: center;
	font-family: 'Poppins', sans-serif;
	background: url("./images/pexels-photo-3721941.jpeg");
	background-size: cover;
	background-position: center center;
	padding: 15px;
  }
  
  .s01 form {
	width: 100%;
	max-width: 1290px;
  }
  
  .s01 form legend {
	font-size: 72px;
	line-height: 1;
	color: #fff;
	margin-bottom: 60px;
  }
  
  .s01 form .inner-form {
	background: rgba(0, 0, 0, 0.5);
	padding: 50px 47px;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-pack: justify;
		justify-content: space-between;
	-ms-flex-align: center;
		align-items: center;
  }
  
  .s01 form .inner-form .input-field {
	margin-right: 30px;
	height: 68px;
  }
  
  .s01 form .inner-form .input-field input {
	height: 100%;
	background: #fff;
	border-radius: .5px;
	border: 0;
	display: block;
	width: 100%;
	padding: 10px 32px;
	font-size: 20px;
  }
  
  .s01 form .inner-form .input-field input.placeholder {
	color: #9a9a9a;
	font-size: 20px;
  }
  
  .s01 form .inner-form .input-field input:-moz-placeholder {
	color: #9a9a9a;
	font-size: 20px;
  }
  
  .s01 form .inner-form .input-field input::-webkit-input-placeholder {
	color: #9a9a9a;
	font-size: 20px;
  }
  
  .s01 form .inner-form .input-field input:hover, .s01 form .inner-form .input-field input:focus {
	box-shadow: none;
	outline: 0;
  }
  
 
  
  .s01 form .inner-form .input-field.second-wrap {
	width: 32.77%;
	min-width: 180px;
  }
  
  .s01 form .inner-form .input-field.third-wrap {
	width: 180px;
	margin-right: 0;
  }
  
  .s01 form .inner-form .input-field.third-wrap .btn-search {
	height: 100%;
	width: 100%;
	background: #4272d7;
	white-space: nowrap;
	border-radius: .5px;
	font-size: 20px;
	color: #fff;
	transition: all .2s ease-out, color .2s ease-out;
	border: 0;
	cursor: pointer;
  }
  
  .s01 form .inner-form .input-field.third-wrap .btn-search:hover {
	background: #2d62d3;
  }
  
  @media screen and (max-width: 992px) {
	.s01 form legend {
	  font-size: 50px;
	  text-align: center;
	  margin-bottom: 50px;
	}
	.s01 form .inner-form {
	  padding: 30px 35px;
	}
	.s01 form .inner-form .input-field {
	  height: 50px;
	}
  }
  
  @media screen and (max-width: 767px) {
	.s01 form legend {
	  font-size: 40px;
	  margin-bottom: 40px;
	}
	.s01 form .inner-form {
	  -ms-flex-wrap: wrap;
		  flex-wrap: wrap;
	  padding: 20px;
	}
	.s01 form .inner-form .input-field {
	  margin-right: 0;
	}
	.s01 form .inner-form .input-field input {
	  padding: 5px 15px;
	  font-size: 16px;
	}

	.s01 form .inner-form .input-field.second-wrap {
	  width: calc(50% - 10px);
	  min-width: auto;
	}
	.s01 form .inner-form .input-field.third-wrap {
	  width: calc(50% - 10px);
	}
	.s01 form .inner-form .input-field.third-wrap .btn-search {
	  font-size: 16px;
	}
  }
  


  .bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }

  @media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
  }